@import "../../assets/variables.scss";
@import "../../assets/mixins.scss";
@import "../../assets/typography.scss";

.language-selector {
  position: relative;
  box-sizing: border-box;
  padding: 8px 20px;

  &--active {
    // border: 2px solid $white;
    border-radius: 10px;
    padding: 8px 20px;
    background-color: $darkgrayBtnLanguage;

    .language-selector__button {
      color: $white;
    }

    .language-selector__list-item {
      width: 100%;
      border-radius: 10px;
    }
  }

  &__button {
    display: flex;
    background: none;
    border: none;
    @extend .text-secondary;
    font-family: $f-semibold;
    color: $black-08;
  }
  &__button-arrow {
    align-self: center;
    margin-left: 10px;

    &--active {
      transform: rotate(180deg);
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    list-style: none;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
    padding: 0;
    margin: 0;
    position: absolute;
    left: -2px;
    right: -2px;
    border-width: 0 2px 2px 2px;
    border-style: solid;
    border-color: white;
    border-radius: 0 0 10px 10px;

    &--active {
      opacity: 1;
      visibility: visible;
    }
  }

  &__list-item {
    display: flex;
    justify-content: center;
  }

  &__list-item-button {
    background: none;
    border: none;
    margin: 0 auto;
    @extend .text-secondary;
    font-family: $f-semibold;
    color: $black-08;
    margin-top: 10px;
  }
}
// language-selector__list-item-button
