@import '../../assets/variables.scss';
@import '../../assets/mixins.scss';
@import '../../assets/typography.scss';

.how-it-works {
	margin-top: -400px;
	padding-top: 400px;
	position: relative;

	&__background {
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: -1;

		img {
			object-position: top;
		}
	}

	&__header {
		align-items: center;
		color: $white;
		display: flex;
		flex-direction: column;
		margin: auto;
		max-width: 850px;
		text-align: center;

		&-anchor {
			@extend .label-primary;
			background: $dark01;
			border-radius: 2px;
			padding: 4px 10px;
		}

		&-title {
			@extend h2;
		}

		&-secondary-text {
			max-width: 630px;
			@extend .text-main;
			margin: 0;
		}
	}
}
