@import "../../assets/variables.scss";
@import "../../assets/mixins.scss";
@import "../../assets/typography.scss";

.how-it-works {
  position: relative;
  margin-top: -400px;
  padding-top: 400px;

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    img {
      object-position: top;
    }
  }

  &__header {
    max-width: 850px;
    color: $white;
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-anchor {
      @extend .label-primary;
      background: $dark01;
      border-radius: 2px;
      padding: 4px 10px;
    }

    &-title {
      @extend h2;
    }

    &-secondary-text {
      @extend .text-main;
    }
  }
}
