@import "../../../assets/variables.scss";
@import "../../../assets/mixins.scss";
@import "../../../assets/typography.scss";

.accordion {
  background: $white;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  border-radius: 10px;
  box-shadow: -20px 20px 60px $box-shadow-menu;

  &__item {
    padding-top: 30px;
    padding-bottom: 15px;
    position: relative;
    @extend .text-main;
    font-family: $f-regular;

    &:not(:last-child) {
      border-bottom: 1px solid $darkgray02;
    }

    &-text {
      display: flex;
      justify-content: space-between;

      &-icon {
        display: flex;
        background: none;
        border: none;
        cursor: pointer;
        padding: 0;
        margin: 0 0 0 20px;
      }
    }

    &-wrapper {
      overflow: hidden;
      @extend .text-secondary;
      color: $darkgray05;
      max-height: 0;
      transition: max-height 0.2s linear;
    }
  }
}
