@import '../../assets/variables.scss';
@import '../../assets/mixins.scss';
@import '../../assets/typography.scss';

.home {
	//   background: coral;
	&__button {
		margin-top: 20px;
	}

	&__header {
		align-items: center;
		// background: red;
		display: flex;
		flex-direction: column;
		margin: 0 auto;
		max-width: 850px;
	}

	&__header-title-h1 {
		@extend h1;
		text-align: center;

		&-mark {
			background: $black-08;
			border-radius: 10px;
			color: $white;
			padding-left: 2px;
		}
	}

	&__header-title-secondary-text {
		@extend .text-main;
		color: $darkgray05;

		max-width: 630px;
		text-align: center;
	}

	&__brand {
		// background: violet;
		// margin-top: 80px;
		@include fluid-size('margin-top', $min-vw, $max-vw, 35px, 80px);
		width: 100%;

		@include tab() {
			//   margin: auto;
			margin-left: auto;
			margin-right: auto;
			max-width: 400px;
		}
	}

	&__brand--list {
		align-content: center;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	&__brand--list-item {
		align-items: center;
		box-sizing: border-box;
		// background: cornflowerblue;
		display: flex;
		flex: 0 0 16.66666666%;
		justify-content: center;
		padding: 10px;

		@include tab() {
			box-sizing: border-box;
			flex: 0 0 33.333%;
		}
	}

	.item-image {
		height: auto;
		max-width: 100%;

		@include mob() {
			max-width: 75%;
		}
	}

	&__video {
		@include fluid-size('margin-top', $min-vw, $max-vw, 10px, 80px);
		@include fluid-size('padding-top', $min-vw, $max-vw, 20px, 90px);
		@include fluid-size('padding-right', $min-vw, $max-vw, 10px, 60px);
		@include fluid-size('padding-bottom', $min-vw, $max-vw, 20px, 90px);
		@include fluid-size('padding-left', $min-vw, $max-vw, 10px, 60px);
		background: $darkgray;
		border-radius: 10px;
		margin-bottom: 60px;
	}
}
