@import "../../assets/variables.scss";
@import "../../assets/mixins.scss";
@import "../../assets/typography.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  z-index: 1;
  @include fluid-size("padding-left", $tab-des-vw, $max-vw, 35px, 80px);
  @include fluid-size("padding-right", $tab-des-vw, $max-vw, 35px, 80px);
  @include fluid-size("padding-top", $tab-des-vw, $max-vw, 15px, 35px);
  @include fluid-size("padding-bottom", $tab-des-vw, $max-vw, 15px, 35px);

  @include des() {
    // @include fluid-size("padding-right", $tab-des-vw, $max-vw, 35px, 80px);
    padding-right: 15px;
  }

  background: #e5e5e5;
  width: 100%;

  &__logo-height {
    height: 50px;
  }

  &__navigation-wrapper {
    display: flex;
    align-items: center;
    @include mob() {
      padding: 20px;
      box-sizing: border-box;
      overflow: auto;
      height: calc(100vh - 80px);
    }
    @include des() {
      overflow: auto;
      height: calc(100vh - 80px);
    }
    .button {
      display: none;

      @include mob() {
        display: block;
        width: 100%;
        box-sizing: border-box;
        text-align: center;

        &:first-of-type {
          margin-bottom: 15px;
        }
      }
    }

    @include des() {
      position: fixed;
      display: flex;
      flex-direction: column;
      top: 0;
      left: 0;
      width: 100%;
      transform: translateY(-100%);
      transition: transform 0.3s;
      z-index: -1;
      overflow: auto;

      .header__navigation-list {
        @include mob() {
          margin-left: 0;
          padding-top: 30px;
        }

        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding: 0;
        padding-top: 70px;

        &-item {
          margin-bottom: 25px;

          @include des() {
            margin-left: 0;
          }

          &:last-child {
            margin-right: 0;
          }
        }
      }

      .header__navigation-link {
        @include fluid-type($min-vw, $des-vw, 15px, 36px);
      }

      .language-selector {
        margin-left: 50px;
        margin-top: 40px;

        @include mob() {
          margin-left: 25px;
          margin-top: 10px;
          margin-bottom: 50px;
        }
      }

      &--active {
        transform: translateY(80px);
      }
    }
  }

  &__navigation {
    display: flex;
    justify-content: space-between;
  }

  &__navigation-list {
    display: flex;
    justify-content: space-around;
    list-style: none;
  }

  &__navigation-list-item {
    @include fluid-size("margin-left", $des-vw, $max-vw, 25px, 40px);

    &:first-of-type {
      margin-left: 0;
    }
    &:last-of-type {
      @include fluid-size("margin-right", $des-vw, $max-vw, 25px, 40px);
    }
  }

  &__navigation-link {
    text-decoration: none;
    @extend .text-secondary;
    font-family: $f-semibold;
    color: $black-08;
  }

  &-link {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include mob() {
      .button {
        display: none;
      }
    }
  }

  .button {
    &:first-child {
      @include fluid-size("margin-right", $des-vw, $max-vw, 15px, 25px);
    }
  }

  .burger-button {
    display: none;
    @include des() {
      display: block;
      display: flex;
      margin-left: 30px;
    }
  }
}
