@import '../../assets/variables.scss';
@import '../../assets/mixins.scss';
@import '../../assets/typography.scss';

.features{
    &__header {
		align-items: center;
		display: flex;
		flex-direction: column;
		margin: auto;
		max-width: 850px;
		text-align: center;

		&-anchor {
			@extend .label-primary;
			background: $purple-main01;
            color: $purple-main;
			border-radius: 2px;
			padding: 4px 10px;
            margin: 0;
		}

		&-title {
			@extend h2;
            margin: 0;
            color: $darkgray;
    		@include fluid-size('margin-top', $min-vw, $max-vw, 10px, 15px);

		}

		&-secondary-text {
			max-width: 630px;
			@extend .text-main;
			margin: 0;
            color: $darkgray05;
    		@include fluid-size('margin-top', $min-vw, $max-vw, 10px, 20px);
		}
	}
}