@font-face {
  font-family: "Lato Regular";
  font-display: fallback;
  src: url("/font/Lato-Regular.woff") format("woff");
  font-style: normal;
}

@font-face {
  font-family: "Lato Black";
  font-display: fallback;
  src: url("/font/Lato-Black.woff") format("woff");
  font-style: normal;
}

@font-face {
  font-family: "Lato Bold";
  font-display: fallback;
  src: url("/font/Lato-Bold.woff") format("woff");
  font-style: normal;
}

@font-face {
  font-family: "Lato Heavy";
  font-display: fallback;
  src: url("/font/Lato-Heavy.woff") format("woff");
  font-style: normal;
}

@font-face {
  font-family: "Lato Medium";
  font-display: fallback;
  src: url("/font/Lato-Medium.woff") format("woff");
  font-style: normal;
}

@font-face {
  font-family: "Lato Semibold";
  font-display: fallback;
  src: url("/font/Lato-Semibold.woff") format("woff");
  font-style: normal;
}
